*,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* BUTTONS */
.button-primary {
    background-color: #1E144F;
    border: 0;
    border: 2px soild F84365;
    color: #FEEBDC;
    border-radius: 40px;
    padding: 10px 50px;
}

.button-secondary {
    background-color: #F84365;
    border: 2px solid #F84365;
    color: #FFF;
    border-radius: 40px;
    padding: 10px 50px;
}

.button-secondary:hover {
    color: #FFF;
}

/* SECTIONS */
.section {
    padding: 80px 0;
}

/* FOOTER NAVIGATION */

.footer-navigation li .a-primary {
    color: #fff;
}