/* HOW IT WORKS SECTION */
.section-about-us .top {
    color: #F84365;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.section-about-us .title {
    font-size: 30px;
    font-weight: 600;
    color: #1E144F;
    margin-bottom: 20px;
    text-align: center;
}

.section-about-us .text {
    text-align: center;
    color: #6A718B;
    width: 70%;
    margin: 0 auto;
}

.card-title {
    background-color: #1E144F;
    color: #fff;
    margin-top: -16px;
    margin-right: -16px;
    margin-left: -16px;
    padding: 15px;
    border-radius: 4px;
}

.card-body p {
    margin-bottom: 0;
}